{% extends 'base.html' %}

{% block head %}
<title>Login</title>
{% endblock %}

{% block body %}
<div class="container">
  <!-- this id needs to start from a four digit number -->
  <form method="post">
    {% csrf_token %}

    {{form.as_p}}


    <!-- has to be inside form tags. other fields needs to be creat on this form -->
    <button type="submit">Create </button>
    <a href="{% url 'mainMenu'%}"><input id="mainMenu_button" type="button" value="Cancel"/></a>
  </form>

</div>
{% endblock %}
