{% extends 'base.html' %}

{% block head %}
<title>Damage Item</title>
{% endblock %}


{% block body %}
<!-- some field types needs to be change -->
<!-- the fields employeeId and storeId needs to display as they are sign in -->
      <div class="container">
        <fieldset class="form-group">
          <label for="id">Barcode:</label>
          <input  class="form-control" id="id" name="id" type="text" >
        </fieldset>
        <fieldset class="form-group">
          <label for="qtyDamage">Qty:</label>
          <input  class="form-control" id="qtyDamage" name="qtyDamage" type="text" >
        </fieldset>
        <fieldset class="form-group">
          <label for="locationId">Location ID:</label>
          <input  class="form-control" id="locationId" name="locationId" type="text" >
        </fieldset>

        <!-- the cancel button needs to  -->
        <button type="submit">Submit</button>
        <button type="submit">Cancel</button>
      </div>


{% endblock %}
