{% extends 'base.html' %}

{% block head %}
<title>Employees</title>
{% endblock %}


{% block body %}

      <div class="container">
        <h1>Employees</h1>

            <a role ="button" href="{% url 'newEmployee' %}">Create Employee</a>

            {% for user in users %}
              <dl>
                <dt></th>
                <dt>Username: {{user.username }}</th>
                <dt>First Name: {{user.first_name }}</th>
                <dt>Last Name: {{user.last_name }}</th>
                <dt>Email: {{user.email }} </th></br>
                <td>
                  <!-- this button must pass the user object that get click on -->
                  <a role ="button" href="{% url 'employeeProfile' user.id %}">View</a>
                  <a role ="button" href="{% url 'editProfile' user.id %}">Edit</a>
                  <button type="button" class="js-delete-employee" data-url ="{% url 'deleteProfile' user.id %}"> Delete </button>
                </td>
              </dl>
            {% endfor %}


      </div>

      <div class="modal fade" id="modal-employees">
            <div class="modal-dialog">
              <div class="modal-content">
              </div>
            </div>
      </div>

      {% load static %}
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      {% block javascript %}

        <script src="{% static 'employeeProfile.js' %}"></script>

      {% endblock %}

{% endblock %}
