{% extends 'base.html' %}

{% block head %}
<title>Employee Profile</title>

<style>
#tableStyle{
  width: 100%;
  height: 350px;
  overflow:auto;
}


#itemsTable{
   width: 75%;
   cellspacing:1;
   cellpadding:1;
   border:1;
}
</style>

{% endblock %}


{% block body %}
      <div class="container">
        <fieldset class="form-group">
          <label for="employeeId">Employee Id:</label>
          <input type="text" name="employeeId" value={{selectUser.id}} readonly id="employeeId"><br>
        </fieldset>

        <p>Employee First Name: {{ selectUser.first_name }}</p>
        <p>Employee Last Name: {{ selectUser.last_name }}</p>
        <p>Employee Email: {{ selectUser.email}}</p>
        <p>Employee Start Date: {{ selectUser.date_joined }}</p></br>

        {% if selectUser.is_staff %}
          <a role="button" class="btn btn-success btn-sm glyphicon" id="outgoing-transaction">  Outgoing</a>
          <a role="button" class="btn btn-success btn-sm glyphicon" id="incoming-transaction">  Incoming</a>

        {% else %}
          <a role="button" id="outgoing-transaction"> Outgoing</a>
        {% endif %}

        <div id="tableStyle">
          <table id="itemsTable">
            <thead>
                <tr id="labels">
                  <td>TransactionId:  </td>
                  <td>Tax:</td>
                  <td>Subtotal: </td>
                  <td>Total:</td>
                  <td>Date:</td>
                  <td>Items:</td>

                </tr>
            </thead>
            <tbody></tbody>

          </table>
        </div>




      </div>

      {% load static %}
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      {% block javascript %}

      <script src="{% static 'templateJS/employeeProfile.js' %}"></script>

      {% endblock %}
{% endblock %}
