{% extends 'base.html' %}

{% block head %}
<title>Employee Profile</title>

<style>
#tableStyle{
  width: 100%;
  height: 350px;
  overflow:auto;
}
</style>

{% endblock %}


{% block body %}
      <div class="container">

        <p>Employee First Name: {{ selectUser.first_name }}</p>
        <p>Employee Last Name: {{ selectUser.last_name }}</p></br>

        <button id="year" type="">Year</button>
        <button id="month">Month</button>
        <button id="week">Week</button>
        <button id="day">day</button></br></br>


        <div id="tableStyle">
        <table style="width:75%">
              <thead>
                <tr>
                  <th>Date:</th>
                  <th>Trasaction ID:</th>
                  <th>Store ID:</th>
                  <th>Total Sold:</th>

                </tr>
              </thead>
              <tbody>
                {% for outTransaction in outTransactions %}
                <tr>
                  <th>{{outTransaction.createdAt}}</th>
                  <th>{{outTransaction.transactionId}}</th>
                  <th>{{outTransaction.storeId}}</th>
                  <th>{{outTransaction.total}}</th>
                  <td><a role ="button" class="btn btn-success btn-sm glyphicon" href="{% url 'viewOutgoingTransactionItems' outTransaction.transactionId %}"> View </a></td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>


      </div>
{% endblock %}
