<!-- DOCTYPE -->
<!DOCTYPE html>
<html lang="en">

<head>

  <title>Incoming Transaction</title>

  <meta charset="utf-8">
  <meta name="author" content="Sam Norton">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  </head>

<body>

  <div class="wrapper" id="wrapper">

    <header>

    </header>

      <div class="container">
        <fieldset class="form-group">
          <label for="id">Barcode:</label>
          <input  class="form-control" id="id" name="id" type="text" >
        </fieldset>

      </div>

  </div>


</body>

</html>
