{% extends 'base.html' %}

{% block head %}
<title>IncomingTransaction</title>
<style>
#total, #subtotal, #employeeId, #tax{
  border-style: none;
}

#tableStyle{
  width: 100%;
  height: 150px;
  overflow:auto;
}
#itemFormStyle{
  width: 100%;
  height: 450px;
  overflow:auto;
}

#itemsTable{
   width: 100%;
   cellspacing:1;
   cellpadding:1;
   border:1;
}

td{
  font-size: 1.5em;
}
</style>
{% endblock %}


{% block body %}
<section class="features" id="features">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="container-fluid">
          {% csrf_token %}
          <fieldset class="form-group">
            <label for="id">Barcode:</label>
            <input  class="form-control" id="idBarcode" name="idBarcode" type="text" >
          </fieldset>

          <form>

            <fieldset class="form-group">
              <label for="vendorId">Vendor Name:</label> <a role ="button" href="{% url 'newVendor' %}" target="_blank"> Create Vendor</a></br>
              <select id="vendorId" name="vendorId">
                {% for vendor in vendors %}
                <option value={{vendor.vendorId}}>{{vendor.name}}</option>
                {% endfor %}
              </select>
            </fieldset>
            <!-- add another link to add a vendor  -->

            <fieldset class="form-group">
              <label for="employeeId">Employee:</label>
              <input type="text" name="employeeId" value={{user.id}} readonly id="employeeId"><br>
            </fieldset>
            <div id="tableStyle">
              <table id="itemsTable">
                <tr id ="labels">
                  <th>Id:</th>
                  <th>Name:</th>
                  <th>Price:</th>
                  <th>Qty:</th>
                </tr>
              </table>
            </div>

            <div id="calculation">
              <h2 id="sub"></h2>
              <h2 id="taxTotal"></h2>
              <h2 id="tot"></h2>
            </div>
            <div id ="formButtons">
              <a role ="button" id="submit" >Submit</a>
              <a role ="button" id="cancel">Cancel</a>
            </div>
          </div>
        </div>
        <br>
        <div class="col-md-6">
          <div id="itemFormStyle">
            <fieldset class="form-group">
              <label for="locationId">Store Name:</label>
              <select id="locationId" name="locationId">
                {% for store in stores %}
                <option value={{store.storeId}}>{{store.name}}</option>
                {% endfor %}
              </select>
            </fieldset>
            <fieldset class="form-group">
              <label for="barcode">Barcode:</label>
              <input  class="form-control" id="barcode" name="barcode" readonly type="text" >
            </fieldset>

            <fieldset class="form-group">
              <label for="name">Name:</label>
              <input  class="form-control" id="name" name="name" type="text">
            </fieldset>
            <fieldset class="form-group">
              <label for="inStockQty">Qty:</label>
              <input  class="form-control" id="inStockQty" name="inStockQty" type="number">
            </fieldset>
            <fieldset class="form-group">
              <label for="picture">Picture:</label>
              <input  class="form-control" id="picture" name="picture" type="text">
            </fieldset>
            <fieldset class="form-group">
              <label for="color">Color:</label>
              <input  class="form-control" id="color" name="color" type="text">
            </fieldset>
            <fieldset class="form-group">
              <label for="ageRequirement">Age Requirement:</label>
              <input  class="form-control" id="ageRequirement" name="ageRequirement" type="text">
            </fieldset>
            <fieldset class="form-group">
              <label for="purchasedPrice">Purchased Price:</label>
              <input  class="form-control" id="purchasedPrice" name="purchasedPrice" type="number">
            </fieldset>
            <fieldset class="form-group">
              <label for="salePrice">Sale Price:</label>
              <input  class="form-control" id="salePrice" name="salePrice" type="number">
            </fieldset>
            <fieldset class="form-group">
              <label for="department">Department:</label>
              <input  class="form-control" id="department" name="department" type="text">
            </fieldset>
            <a role ="button" id="newItem">Submit Item</a>
            <a role ="button" id="cancelItem">Cancel</a>

          </div>
        </div>
        </div>
      </form>


    </div>
  </div>
</section>

{% load static %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% block javascript %}
<script src="{% static 'common.js' %}"></script>
<script src="{% static 'templateJS/incomingTransaction.js' %}"></script>

{% endblock %}

{% endblock %}
