{% extends 'base.html' %}

{% block head %}
<title>Login</title>
{% endblock %}


{% block body %}
<div class="container">
  <h1>Welcome to Login Page</h1>

    <form method="POST" id="credentials-form">
         <!-- *cross site request forgery token* make sure that data is secure  -->
         {%csrf_token%}

         <!-- form comes from default login view that django provides -->
         {{form.as_p}}

       <button id="login_button" type="submit">Login</button>
     </form>

     <a role ="button" href="{% url 'newEmployee' %}"> Create Employee </a>
</div>

{% endblock %}
