{% extends 'base.html' %}

{% block head %}
<title>Main Menu</title>

<style>
  #home-space{
    height: 100%;

    float:left;
  }
  #logout-space{
    height: 100%;
    float: right;
  }
  #header-wrapper{
    height:50px;
  }


</style>
{% endblock %}


{% block body %}

      <!-- <div class="container">
        <a href="{% url 'outgoingTransaction'%}"><input id="outgoingTransaction_button" type="button" value="Outgoing Transaction"/></a>
        <a href="{% url 'incomingTransaction'%}"><input id="incomingTransaction_button" type="button" value="Incoming Transaction"/></a>
        <a href="{% url 'item'%}"><input id="item_button" type="button" value="Item"/></a>
        <button id="inventory_button" type="">Inventory</button>
        <button id="vendor_button" type="">Vendors</button>
        <button id="graphs_button" type="">Graphs</button>
        <button id="reports_button" type="">Reports</button>

      </div> -->
{% endblock %}
