{% extends 'base.html' %}

{% block head %}
<title>Outgoing Transaction</title>
<style>

  #total, #subtotal, #employeeId, #tax{
   border-style: none;
 }

 #itemsList{
   width:50%;
 }
</style>
{% endblock %}


{% block body %}
      <div class="container">
        <fieldset class="form-group">
          <label for="idBarcode">Barcode:</label>
          <input  class="form-control" id="idBarcode" name="idBarcode" type="text" >
        </fieldset>
        {% csrf_token %}
        <form>
          <!-- onsubmit="completeTransaction()" -->
          <fieldset class="form-group">
            <label for="storeId">Store Name:</label>
            <select id="storeId" name="storeId">
              {% for store in stores %}
              <option value={{store.storeId}}>{{store.name}}</option>
              {% endfor %}
            </select>
          </fieldset>
          <!-- add another link to add a vendor  -->

          <fieldset class="form-group">
            <label for="employeeId">Employee:</label>
            <input type="text" name="employeeId" value={{user.id}} readonly id="employeeId"><br>
          </fieldset>

          <!-- <h1 id="itemNotFound">Item Not Found</h1> -->


          <table id="itemsList">
            <tr id ="labels">
              <th>Id:</th>
              <th>Name:</th>
              <th>Price:</th>
              <th>Qty:</th>
            </tr>

          </table>


          <div id="calculation">
            <h2 id="sub"></h2>
            <h2 id="taxTotal"></h2>
            <h2 id="tot"></h2>
          </div>

            <a role ="button" id="submit" >Submit</a>
            <a role ="button" id="cancel">Cancel</a>
          
        </form>

      </div>
      {% load static %}
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      {% block javascript %}

      <script src="{% static 'templateJS/outgoingTransaction.js' %}"></script>

      {% endblock %}

{% endblock %}
