{% extends 'base.html' %}

{% block head %}
<title>Outgoing Transaction</title>
{% endblock %}


{% block body %}
      <div class="container">
        <fieldset class="form-group">
          <label for="idBarcode">Barcode:</label>
          <input  class="form-control" id="idBarcode" name="idBarcode" type="text" >
        </fieldset>
        {% csrf_token %}
        <form onsubmit="oTransaction.postObject()">
          <!-- onsubmit="completeTransaction()" -->
          <fieldset class="form-group">
            <label for="storeId">Store Name:</label>
            <select id="storeId" name="storeId">
              {% for store in stores %}
              <option value={{store.storeId}}>{{store.name}}</option>
              {% endfor %}
            </select>
          </fieldset>
          <!-- add another link to add a vendor  -->

          <fieldset class="form-group">
            <label for="employeeId">Employee:</label>
            <select id="employeeId" name="employeeId">
              <option value={{user.id}}>{{user.first_name}} {{user.last_name}}</option>
            </select>
          </fieldset>

          <h1 id="itemNotFound">Item Not Found</h1>
          <dl id="itemsList">

            <dt></dt>
          </dl>
          <h1 id="subtotal"></h1>
          <h1 id="tax"></h1>
          <h1 id="total"></h1>

          <a role ="button" id="submit">Submit</a>
          <a role ="button" id="cancel">Cancel</a>
        </form>

      </div>
      {% load static %}
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      {% block javascript %}

      <script src="{% static 'templateJS/outgoingTransaction.js' %}"></script>

      {% endblock %}

{% endblock %}
