{% extends 'base.html' %}

{% block head %}
<title>Items</title>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<style>
#items{
  width:1400px;
  height:800px;
}
</style>
{% endblock %}


{% block body %}
<div class="container">

        <div id="items" ></div>


</div>

{% load static %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

{% block javascript %}
{% block jquery %}
  $('#items').ready(function(){
  var endpoint = '/polls/api/items/'
  var itemId = inStockQty = []
  var graphDiv = document.getElementById('items')

  $.ajaxSetup({
      type: 'GET',
      url: '/polls/api/plotly/items/',
      beforeSend: function(xhr, settings) {
          if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
              xhr.setRequestHeader("X-CSRFToken",
              jQuery("[name=csrfmiddlewaretoken]").val());
          }
      }
  });

  $.ajax({
      method: "GET",
      url: '/polls/api/plotly/items/',
      success: function(data){
          itemId = data.itemId
          inStockQty = data.inStockQty
          articleChart()
          <!-- transcriptChart() -->
      // console.log(data)
      },
      error: function(error_data){
          console.log("error")
          console.log(error_data)
      },
  })
  function csrfSafeMethod(method) {
      // these HTTP methods do not require CSRF protection
      return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
  }
  function articleChart(){
      var data = [{
          x: itemId,
          y: inStockQty,
          type: 'bar',
          orientation: 'h',
          marker: {
              color: '#23b7e5',
          },
      }];
      var layout = {
          title: 'Number of Articles per Company',
          titlefont: {
              family: 'Droid Sans Mono',
              size: 36,
              color: '#000000'
          },
          margin: {l:200},
      };

      Plotly.newPlot('items', data, layout);
  }

  })
{% endblock %}
{% endblock %}


{% endblock %}
