{% extends 'base.html' %}

{% block head %}
<title>Employee Profile</title>
{% endblock %}


{% block body %}
<div class="container">
  <button onclick="goBack()">Go Back</button>
  {% if user.is_staff %}
  <a href="{% url 'viewOutgoingTransactionItems' pk %}"> <input id="outgoing-transaction" type="button" value="Outgoing"/></a>
  <a href="{% url 'viewIncomingTransactionItems' pk %}"> <input id="incoming-transaction" type="button" value="Incoming"/></a>

  {% endif %}

  <table style="width:75%">
          <h2>Transaction Number: &nbsp {{ pk }}</h2>
        <thead>
          <tr>
            <th>Barcode:</th>
            <th>Quantity Sold:</th>
            <th>Price:</th>
            <th>Tax:</th>

          </tr>
        </thead>
        <tbody>

          {% for inTransactionItem in inTransactionItems %}
          <tr>
            <th>{{inTransactionItem.barcode}}</th>
            <th>{{inTransactionItem.quantityBought}}</th>
            <th>{{inTransactionItem.purchasedPrice}}</th>
            <th>{{inTransactionItem.tax}}</th>
          </tr>
          {% endfor %}
        </tbody>
      </table>
</div>
{% endblock %}
