{% extends 'base.html' %}

{% block head %}
<title>Employee Profile</title>
<script>
function goBack() {
    window.history.back()
}
</script>
{% endblock %}


{% block body %}
<div class="container">
    <button onclick="goBack()">Go Back</button>

  <table style="width:75%">
          <h2>Transaction Number: &nbsp {{ pk }}</h2>


        <thead>
          <tr>
            <th>Barcode:</th>
            <th>Quantity Sold:</th>
            <th>Price:</th>
            <th>Tax:</th>

          </tr>
        </thead>
        <tbody>

          {% for outTransactionItem in outTransactionItems %}
          <tr>
            <th>{{outTransactionItem.barcode}}</th>
            <th>{{outTransactionItem.quantitySold}}</th>
            <th>{{outTransactionItem.price}}</th>
            <th>{{outTransactionItem.tax}}</th>
          </tr>
          {% endfor %}
        </tbody>
      </table>
</div>
{% endblock %}
